main.site {
  &.four-oh-four,
  &.default {
    //padding: 0 0 3rem 0;
  }


  ul.uk-breadcrumb {
    margin: 0;
    padding: 5px 0;
    font-size: 14px;
    font-weight: 300;
  }

  .uk-grid {
    > div {
      display: flex;
      justify-content: stretch;
      align-items: stretch;
      > a {
        height: 100%;
        width: 100%;
        display: flex;
        > .uk-card {
          width: 100%;
        }
      }
    }
  }
}
